body {
    text-align: center;
}

canvas {
    border: 1px solid gray;
}

table#controller {
	 text-align: center;
	 margin: auto;
}

table#controller td {
      width: 100px;
      height: 32px;
      background-color: gray;
}